.vscode/c_cpp_properties.json
.vscode/settings.json
day_1/main.dSYM/Contents/Info.plist
day_1/main.dSYM/Contents/Resources/DWARF/main
day_1/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
day_1/main
